<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401730393508-oafk4suc94eo9gcmajd50jj6n81j3lie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401730393508-oafk4suc94eo9gcmajd50jj6n81j3lie</string>
	<key>API_KEY</key>
	<string>AIzaSyChzv89xOe5rV8QbeSCJ_lEbusXTSbuudQ</string>
	<key>GCM_SENDER_ID</key>
	<string>401730393508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.employeeDatabaseApp</string>
	<key>PROJECT_ID</key>
	<string>fir-2e426</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-2e426.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401730393508:ios:2ce29f415ee9ea76df5d31</string>
</dict>
</plist>